body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    max-width: 1000px;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
}

.container h1 {
    color: #5b3fe8;
    font-size: 30px;
    margin-bottom: 10px;
}

.container p {
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
}

.container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5b3fe8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .container h1{
        font-size: 26px;
    }

    .container p {
        font-size: 22px;
    }

    .container {
        max-width: 400px;
    }
}

@media (max-width: 480px) {
    .container h1{
        font-size: 26px;
    }

    .container p {
        font-size: 22px;
    }
    
    .container {
        max-width: 300px;
    }
}